body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #070c18;
  color: white;
}

.hidden { display: none; }

/* LOCK */
.lock {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.lock-card {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* SIDEBAR */
aside {
  background: #020617;
  padding: 20px;
}

aside li {
  margin: 10px 0;
  cursor: pointer;
}

/* GRID */
.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
}

.large {
  grid-column: span 2;
}

canvas {
  max-height: 200px;
}
